body {
  margin: 0;
}

.lotos {
  width: 30px;
  height: 30px;
}

.logo {
  width: 76px;
  height: 76px;
  background-color: green;
  line-height: 28px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_text {
  color: honeydew;
  font-weight: 700;
  border-bottom: honeydew 5px solid;
  font-size: 30px;
  display: inline;
  font-family: sans-serif;
}

}